<launch>
    <node pkg="am_super" type="am_super" name="am_super">
        <rosparam command="load" file="$(dirname)/life_cycle_rostest.yaml"/>
    </node>
    <test test-name="life_cycle_rostest" pkg="am_super" type="life_cycle_rostest" time-limit="15" />
    <!-- <node pkg="am_super" type="life_cycle_test_node" name="life_cycle_test_node" output="screen">
     	<param name="init_state" value="UNCONFIGURED"/>
    </node> -->
</launch>