<?xml version="1.0" ?>
<launch>
    <node pkg="am_super" type="am_super" name="am_super" output="screen">
    	<rosparam command="load" file="$(find am_super)/launch/am_super.yaml" subst_value="true">
            <arg name="platform" value="$(eval optenv('AM_PLATFORM'))" />
        </rosparam>
    </node>
</launch>